<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>configuration</string>
                    <key>url</key>
                    <string>https://github.com/VieCertP12/pageipa/releases/download/dns/DNS.Anti-Revoke.ioscert.mobileconfig</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>displayName</key>
                <string>DNS Anti-Revoke</string>
                <key>description</key>
                <string>Cài đặt cấu hình DNS Anti-Revoke</string>
                <key>version</key>
                <string>1.0</string>
                <key>identifier</key>
                <string>com.viecert.dns.antirevoke</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
